/* controlstyle.css

	Author: Alex Reynolds

	Main stylesheet for the administrative control panel areas.

*/

html, body {
	background: none;
	background-color: #fff;
	color: #3d3d3d;
}

a {
	color: #28ddcc;
}

a:visited {
	color: #28ddcc;
}

a:hover {
	color: #fc8c30;
}

/* Band of color on top of page */
.headerbar {
	background-color: #fc8c30;
	color: #fff;
	border-bottom: 3px solid #f9b132;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	margin: 0;
	position: absolute;
}

/* Where to go wordmark */
.wordmark {
	margin-top: 7px;
	margin-left: 15px;
}

/* Admin info in top right corner */
.headerbar .topright {
	color: #fff;
	text-align: right;
	font-size: .9em;
}

.headerbar .topright a {
	color: #3d3d3d;
}

.headerbar .topright a:hover {
	color: #fff;
}

/* Top bar navigation */
.controlnav {
	background-color: #28ddcc;
	position: absolute;
	top: 53px;
	left: 0;
	color: #fff;
	width: 100%;
	height: 30px;
	border-bottom: 3px solid #61f7e8;
	text-align: center;
}

/* Links list in nav */
.controlnav ul {
	text-decoration: none;
	list-style: none;
	list-style-type: none;
	text-align: left;
	padding: 0;
	margin-top: 5px;
	display: inline-block;
}

.controlnav li {
	margin: 0;
	margin-left: 20px;
	padding: 5px;
	vertical-align: middle;
	display: inline;
	text-transform: uppercase;

}

.controlnav li.active {
	background-color: #2bb6ba;
	border-radius: 5px;
}

.controlnav a {
	color: #fff;
}

.controlnav a:hover {
	color: #2bb6ba;
}